<!--
 de esta forma se ocupan las variables dentro del component
  -->
  <h1> {{title}}</h1>

  <hr>

  <!-- <h3>
    contador: {{counter}}
  </h3> -->
  <!--
    se le dice cuanto tendra que incrementar,
    este metodo esta en el archivo app.components.ts
    de este componenete
  -->

  <!--
    esto extrae el html completo dado en el template
    por lo cual si pongo app-counter nuevamente habria otro
    contador
  -->
  <app-counter></app-counter>

  <app-heroes-hero></app-heroes-hero>
  <app-heroes-list></app-heroes-list>
<router-outlet />
